html, body {
    /* height: 100%; */
    margin : 0px;
    font-family: "Karla", sans-serif;
    color: #545454;
    position: relative;
    background-color: white;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    cursor: crosshair;
  }
  
  #center {
    left: 50%;
    top: 50%;
    height: 400px;
    margin-top: 300px;
  }
  
  #title {
    text-align: center;
    font-size: 30px;
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .07em; /* Adjust as needed */
  }

  #links {
    text-align: center;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 70%;
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  .link:hover{
    animation-name: space-apart;
    animation-duration: 1s;
    letter-spacing: 4px;
  }
  
  @keyframes space-apart {
      from {letter-spacing: 1px;}
      to {letter-spacing: 4px;}
  }
  

  
  
